* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(73, 104, 140);
    --bg-main-color: rgb(208, 237, 251);
}

html,
.page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}

.link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover,
.link:focus,
.link:active {
    opacity: .75;
}

/*  -------------------------  Header styles start -------------------------------  */

.header__container {
    border-bottom: solid 5px rgb(199, 215, 236);
}

.header__content {
    padding: 1.1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    line-height: 100%;
}

.info {
    font-size: 0.9rem;
    font-style: italic;
}

.title {
    font-size: 1.6rem;
}

.search-form {
    width: 260px;
    height: 39px;
    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: solid 1px rgb(158, 158, 174);
    border-radius: 10px;
    background-color: aliceblue;
}

.search-input {
    font-size: 1.0rem;
    color: rgb(109, 121, 136);
    outline: none;
    background-color: aliceblue;
}

.search-img {
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.3 ease;
}

.search-img:hover {
    opacity: 0.7;
}

.search-img:active {
    width: 23px;
    height: 23px;
    opacity: 1;
}

/*  -------------------------  Header styles end -------------------------------  */

/*  -------------------------  Main styles start -------------------------------  */

.main {
    flex: 1 0 auto;

    transition: all 2s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}

.main__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px 10px;
}

.gallery-img {
    width: 430px;
    height: 300px;
    border-radius: 5px;
    cursor: zoom-in;
    transition: all 0.3s ease;
}

.gallery-img:hover {
    opacity: 0.9;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.btn-show-more {
    display: block;
    padding: 16px 28px;
    font-size: 1rem;
    color: rgb(211, 229, 244);
    background-color: rgb(128, 166, 189);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.btn-show-more._hidden {
    display: none;
}

.btn-show-more._error {
    font-size: 1.2rem;
    color: rgb(255, 0, 0);
    background-color: rgb(249, 203, 203);
    box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.2);
}

.btn-show-more:hover {
    opacity: 0.9;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.btn-show-more:active {
    opacity: 1;
}

/*  -------------------------  Main styles end -------------------------------  */

/*  -------------------------  Footer styles start -------------------------------  */

.footer {
    flex: 0 0 auto;
}

.footer__container {
    border-top: solid 5px rgb(199, 215, 236);
}

.footer__content {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;
}

.rs-school__img {
    opacity: 0.7;
}

/*  -------------------------  Footer styles end -------------------------------  */


/*  -------------------------  Media styles start -------------------------------  */

@media screen and (max-width: 950px) {

    .page {
        font-size: 1.1rem;
    }

    .header__content {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 380px;
        height: 280px;
    }

}

@media screen and (max-width: 820px) {

    .gallery-img {
        width: 340px;
        height: 230px;
    }

}

@media screen and (max-width: 730px) {

    .title {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 280px;
        height: 190px;
    }

}

@media screen and (max-width: 620px) {

    .page {
        font-size: 0.8rem;
    }

    .header__content {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 1.2rem;
    }

    .info {
        font-size: 0.6rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 330px;
        height: 230px;
    }

}

/*  -------------------------  Media styles end -------------------------------  */