* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: rgb(73, 104, 140);
    --bg-main-color: rgb(208, 237, 251);
}

html,
.page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}

.link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover,
.link:focus,
.link:active {
    opacity: .75;
}

/*  -------------------------  Header styles start -------------------------------  */

.header__container {
border-bottom: solid 5px rgb(199, 215, 236);
}

.header__content {
    padding: 1.1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    line-height: 100%;
}

.info {
    font-size: 0.9rem;  
    font-style: italic;
}

.title {
    font-size: 1.6rem;
}

.search-form {
   width: 220px;
   height: 30px;
   padding-left: 7px;

   display: flex;
   align-items: center;

   border: solid 1px rgb(158, 158, 174);
   border-radius: 10px;
   background-color: aliceblue;
   cursor: pointer;
}

.search-input {
    outline: none; 
    background-color: aliceblue;
    cursor: pointer;
}

/*  -------------------------  Header styles end -------------------------------  */

/*  -------------------------  Main styles start -------------------------------  */

.main {
    flex: 1 0 auto;

  
    transition: all 2s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}

.gallery-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    gap: 15px 10px;
}

.gallery-img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
/*  -------------------------  Main styles end -------------------------------  */

/*  -------------------------  Footer styles start -------------------------------  */

.footer {
    flex: 0 0 auto;
}

.footer__container {
    border-top: solid 5px rgb(199, 215, 236);
}

.footer__content {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;
}

.rs-school__img {
    opacity: 0.7;
}

/*  -------------------------  Footer styles end -------------------------------  */


/*  -------------------------  Media styles start -------------------------------  */

@media screen and (max-width: 900px) {

    .page {
        font-size: 1.1rem;
    }

    .header__content {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 350px;
        height: 280px;
    }

}

@media screen and (max-width: 800px) {

    .gallery-img {
        width: 300px;
        height: 230px;
    }

}

@media screen and (max-width: 700px) {

    .title {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 250px;
        height: 190px;
    }

}

@media screen and (max-width: 600px) {

    .page {
        font-size: 0.8rem;
    }

    .header__content {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 1.2rem;
    }

    .info {
        font-size: 0.6rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .gallery-img {
        width: 300px;
        height: 230px;
    }

}

/*  -------------------------  Media styles end -------------------------------  */
